.play__bottom, .pause__bottom{
  border: none;
  color: white;
  background-color: transparent;
  width: 25px;
  height: 25px;
  font-size: 12px;
}

.play__bottom:hover, .pause__bottom:hover{
  cursor: pointer;
}

.botton_zone{
  background-color: black;
}
