.js-play-button, .js-pause-button{
  border: none;
  color: white;
  background-color: transparent;
  width: 25px;
  height: 25px;
  font-size: 12px;
}

.js-play-button:hover, .js-pause-button:hover{
  cursor: pointer;
}

.botton_zone{
  background-color: black;
}

#player{
  width: 800px;
  height: 600px;
}

.js-video-container{
  width: 100%;
  height: 100%
}