.js-play-button, .js-pause-button{
  border: none;
  color: white;
  background-color: transparent;
  width: 25px;
  height: 25px;
  font-size: 12px;
}

.js-pause-button{
  visibility: hidden;
}

.js-play-button:hover, .js-pause-button:hover{
  cursor: pointer;
}

.botton_zone{
  background-color: black;
}
